<div class="about">
    <div class="about-info">
        <h2>Sobre mí</h2>
        <p>Soy Antonio Pérez, <strong>Técnico Superior en Desarrollo de Aplicaciones Web</strong>. Me apasiona la
            tecnología y estoy en constante aprendizaje. Soy proactivo, organizado y me adapto fácilmente a nuevos
            desafíos. Busco oportunidades para seguir creciendo profesionalmente y aportar mis conocimientos al
            desarrollo web.</p>

    </div>

    <div class="about-column">
        <!-- ************ Columna izquierda *************** -->

        <img src="/foto.jpg" alt="Foto de perfil">

        <!-- ************ Columna derecha *************** -->
        <div class="about-text">
            <h5>Desarrollador <span>& diseñador</span></h5>
            <p>Apasionado por el desarrollo fullstack, siempre en busca de nuevos retos para
                mejorar mis habilidades en programación y diseño web.</p>

            <div class="details">
                <div class="column">
                    <p><strong>Fecha de nacimiento:</strong> 17 Marzo 1987</p>
                    <p><strong>Edad:</strong> 37</p>
                    <p><strong>Teléfono:</strong> 627327899</p>
                    <p><strong>Ciudad:</strong> Córdoba, España</p>
                </div>
                <div class="column">
                    <p><strong>Estudios:</strong> Técnico Superior en Desarrollo de Aplicaciones Web (DAW)</p>
                    <p><strong>Email:</strong> <a href="mailto:ajperezmarin@gmail.com"> ajperezmarin&#64;gmail.com</a>
                    </p>
                    <p><strong>GitHub:</strong> <a href="https://github.com/Apermar87" target="_blank"> Apermar87</a>
                    </p>
                    <p><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/ajperezmarin" target="_blank">
                            ajperezmarin</a></p>
                </div>
            </div>
            <div class="additional-info">
                <p>
                    Me considero una persona comprometida con el aprendizaje continuo y la mejora de mis habilidades.
                    Estoy interesado en proyectos que me permitan contribuir y crecer dentro de la tecnología y el
                    desarrollo web.
                </p>
            </div>
            <button (click)="descargarCurriculum()">Descargar CV</button>
        </div>
    </div>
</div>