<div class="about">
    <div class="main">
        <div class="about-info">
            <h2>Sobre mí</h2>
            <p>Soy desarrollador de aplicaciones web recién titulado con un Grado Superior en Desarrollo de Aplicaciones
                Web. Durante mi formación, adquirí habilidades en programación front-end y back-end, incluyendo HTML,
                CSS, JavaScript, Java, PHP y frameworks como Angular y React, así como en bases de datos y gestión de
                servidores. Busco una oportunidad para continuar creciendo profesionalmente y contribuir al éxito de
                proyectos innovadores en el ámbito del desarrollo web.</p>
        </div>
        <div class="about-column">
            <img src="/foto.jpg" alt="Foto de perfil">

            <div class="about-text">
                <h5>Desarrollador <span>& diseñador</span></h5>
                <p class="intro-text">Apasionado por el desarrollo fullstack y siempre en busca de nuevos retos para
                    mejorar mis habilidades en programación y diseño web.</p>

                <div class="details">
                    <div class="column">
                        <p><strong>Fecha de nacimiento:</strong> 17 Marzo 1987</p>
                        <p><strong>Edad:</strong> 37</p>
                        <p><strong>Teléfono:</strong> 627327899</p>
                        <p><strong>Ciudad:</strong> Córdoba, España</p>
                    </div>
                    <div class="column">
                        <p><strong>Estudios:</strong> Técnico Superior en Desarrollo de Aplicaciones Web (DAW)</p>
                        <p><strong>Email:</strong> <a href="mailto:ajperezmarin@gmail.com">
                                ajperezmarin&#64;gmail.com</a></p>
                        <p><strong>GitHub:</strong> <a href="https://github.com/Apermar87" target="_blank">
                                Apermar87</a></p>
                        <p><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/ajperezmarin"
                                target="_blank"> ajperezmarin</a></p>

                    </div>
                </div>

                <p class="additional-info">
                    Me considero una persona proactiva y comprometida, siempre dispuesto a aprender y mejorar mis
                    habilidades de desarrollo. Estoy interesado en oportunidades
                    que me permitan contribuir y crecer en el ámbito de la tecnología.
                </p>
                <button (click)="descargarCurriculum()">Descargar CV</button>
            </div>
        </div>
    </div>
</div>