<div class="projects">
  <h2>Proyectos</h2>
  <div class="row">

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 1">
      <div class="info">
        <p>Descripción del proyecto 1</p>
        <p><strong>Diseño web</strong></p>
      </div>
    </div>

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 2">
      <div class="info">
        <p>Descripción del proyecto 2</p>
        <p>Diseño web</p>
      </div>
    </div>

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 3">
      <div class="info">
        <p>Descripción del proyecto 3</p>
        <p>Diseño web</p>
      </div>
    </div>

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 4">
      <div class="info">
        <p>Descripción del proyecto 4</p>
        <p>Diseño web</p>
      </div>
    </div>

  </div>
</div>