.projects {
    padding: 2rem 4% 2rem;
    margin: auto;
}

@media (min-width: 1920px) {
    .projects {
        padding: 2rem 12% 2rem;
    }
}

.projects p{
    color: #333;
}

.projects .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 50px 0;
}

.projects .row .proyect {
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.projects .row .proyect img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.projects .row .proyect:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.projects .row .proyect .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}

.projects .row .proyect .info p {
    color: #119DDD;
}

.projects .row .proyect:hover .info {
    opacity: 1;
    bottom: 0;
}

/* Ajustes para móviles (pantallas máximo 768px) */
@media (max-width: 768px) {
    .projects {
        padding-bottom: 200px;
    }
    
    .projects .row {
        grid-template-columns: 1fr; 
        gap: 15px; 
    }
    .projects .row .proyect img {
        filter: grayscale(0);
        transform: none;
      }
    
      .projects .row .proyect .info {
        opacity: 1;
        bottom: 0;
      }
}

/* Ajustes para tablets (pantallas entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .projects .row {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

