<div class="projects">
  <h2>Proyectos</h2>
  <p>En mi GitHub puedes encontrar tanto actividades como proyectos que he desarrollado en diferentes lenguajes de
    programación. Estos repositorios incluyen desde ejercicios prácticos para reforzar mis habilidades hasta
    aplicaciones completas y funcionales. Los proyectos más relevantes destacan por aplicar buenas prácticas, integrar
    herramientas modernas, y abordar desafíos tanto de front-end como de back-end. Cada uno de ellos refleja mi
    aprendizaje continuo y mi capacidad para adaptarme a distintas tecnologías y entornos. Los mas relevantes son: </p>
  <div class="row">

    <div class="proyect">
      <a href="https://github.com/Apermar87/java-backWebservice" target="_blank">

        <img src="/crud.png" alt="Proyecto 1">
      </a>
      <div class="info">
        <p>Web Service CRUD Application</p>
        <p><strong>Java JPA Spring boot</strong></p>
      </div>
    </div>  

    <div class="proyect">
      <a href="https://github.com/Apermar87/Portfolio" target="_blank">
      <img src="/portfolio.png" alt="Proyecto 2">
      </a> 
      <div class="info">
        <p>Portfolio</p>
        <p><strong>Angular, HTML, CSS, JS</strong></p>
      </div>
    </div>

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 3">
      <div class="info">
        <p>Descripción del proyecto 3</p>
        <p>Diseño web</p>
      </div>
    </div>

    <div class="proyect">
      <img src="/laptop.png" alt="Proyecto 4">
      <div class="info">
        <p>Descripción del proyecto 4</p>
        <p>Diseño web</p>
      </div>
    </div>

  </div>
</div>