.contact{
  background-color: #F4FAFD;
  min-height: 100vh;
  padding: 2rem 4% 2rem;
}

@media (min-width: 1920px) {
  .contact {
    padding: 2rem 12% 2rem;
  }
}

.contact-header {
margin-bottom: 50px;
}

.contact-header p {
  font-size: 1.2rem;
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.contact-left,
.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #333;
  background-color: #fff;
  height: auto;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-image {
  max-width: 300px;
}

.contact-items {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  text-align: left;       
  width: 100%;
  margin-left: 50px;
  line-height: 1.6;
  font-size: 18px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 25px 0;
  text-align: left;
}

.contact-icon {
  font-size: 24px;
  color: #119DDD;
  margin-right: 20px;
}

.contact-details {
  text-align: left;
}

.contact-details p {
  margin: 0;
}

.contact-details p:first-child {
  font-weight: bold;
}

.contact-details a {
  color: inherit;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-right{
  gap: 2.5em;
}

.form_group{
  position: relative;
  --color: #5757577e;
}

.form_input{
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.form_input.textarea_input {
  resize: none; 
  height: auto;
  overflow: hidden; 
}

.form_input:focus {
  background-color: #f0f8ff; 
  border-bottom-color: #119DDD; 
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
  border-radius: 5px;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
  transform: translateY(-15px) scale(.7);
  transform-origin: left top;
  color: #119DDD;
}

.form_label{
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

.form_line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #119DDD;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.form_line_textarea{
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #119DDD;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
transform: scale(1);
}

.form_input:focus ~ .form_line_textarea,
.form_input:not(:placeholder-shown) ~ .form_line_textarea{
transform: scale(1);
}

.btn-enviar {
  background-color: #119DDD;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  line-height: 1.6;
  font-size: 18px;
  align-items: center;
  margin: 0 auto;
}

.btn-enviar:hover {
  background-color: transparent;
  transform: scale(1.05);
  border: 2px solid #007bff;
  cursor: pointer;
  color: #181818;
}

.btn-enviar:active {
  background-color: #004080;
  transform: scale(0.98);
}

@media (min-width: 768px) {
  .btn-enviar {
    width: auto; 
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column; 
  }

  .contact-left,
  .contact-right {
    width: 100%;
    padding: 15px;
  }

  .profile-image {
    max-width: 200px;
  }
}

