<div class="resume-header">
    <h2>Contacto</h2>
    <p>Ponte en contacto o envíame un correo electrónico directamente a <a href="mailto:ajperezmarin@gmail.com">
        ajperezmarin&#64;gmail.com</a></p>
</div>
<input type="text" placeholder="Name" [(ngModel)]="form.name">
<br>
<input type="email" placeholder="Email"  [(ngModel)]="form.email">
<br>
<input type="text" placeholder="Phone"  [(ngModel)]="form.phone">
<br>
<textarea placeholder="Message"  [(ngModel)]="form.message"></textarea>
<br>
<button (click)="send()">Send</button>