<div class="container-skills">

    <div class="main-title">
        <h2>Habilidades</h2>
        <p>Como desarrollador, poseo una sólida base en tecnologías de back-end y front-end, así como en la
            integración de servicios web y la gestión de datos. Mi experiencia abarca diversas herramientas y
            metodologías que me permiten crear soluciones completas y eficientes, adaptadas a diferentes necesidades
            y proyectos.</p>
    </div>

    <div class="row">

        <!-- ************ Seccion izquierda *************** -->

        <section class="col">

            <div class="sub-title">
                <h3>Desarrollo Back-End</h3>
            </div>

            <div class="skills-container">
                <div class="skill">
                    <div class="subject">Java</div>
                    <div class="progress-bar" value="90%">
                        <div class="progress-line" style="max-width: 90%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">Php</div>
                    <div class="progress-bar" value="85%">
                        <div class="progress-line" style="max-width: 85%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">Python</div>
                    <div class="progress-bar" value="68%">
                        <div class="progress-line" style="max-width: 68%;"></div>
                    </div>
                </div>
            </div>

            <div class="sub-title">
                <h3>Frameworks </h3>
            </div>

            <div class="skills-container">

                <div class="skill">
                    <div class="subject">Spring Boot </div>
                    <div class="progress-bar" value="85%">
                        <div class="progress-line" style="max-width: 85%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">Spring Data</div>
                    <div class="progress-bar" value="85%">
                        <div class="progress-line" style="max-width: 85%;"></div>
                    </div>
                </div>

            </div>
        </section>

        <!-- ************ Seccion derecha *************** -->

        <section class="col">

            <div class="sub-title">
                <h3>Desarrollo Front-End</h3>
            </div>

            <div class="skills-container">
                <div class="skill">
                    <div class="subject">Html</div>
                    <div class="progress-bar" value="90%">
                        <div class="progress-line" style="max-width: 90%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">Css</div>
                    <div class="progress-bar" value="85%">
                        <div class="progress-line" style="max-width: 85%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">Javascript</div>
                    <div class="progress-bar" value="80%">
                        <div class="progress-line" style="max-width: 80%;"></div>
                    </div>
                </div>
            </div>

            <div class="sub-title">
                <h3>Frameworks </h3>
            </div>

            <div class="skills-container">

                <div class="skill">
                    <div class="subject">Angular</div>
                    <div class="progress-bar" value="75%">
                        <div class="progress-line" style="max-width: 75%;"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="subject">React</div>
                    <div class="progress-bar" value="65%">
                        <div class="progress-line" style="max-width: 65%;"></div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<!-- ************ Herramientas, tecnologías y entornos de desarrollo ************ -->
<div class="service">
    <div class="title">
        <h2>Áreas de Competencia</h2>
    </div>

    <div class="box">
        <!-- Tarjeta 1: Gestión de Datos -->
        <div class="card">
            <i class="fas fa-folder"></i>
            <h5>Gestión de Datos</h5>
            <div class="pra">
                <p><strong>Formatos:</strong> XML, JSON</p>
                <p><strong>Bases de Datos:</strong> MySQL</p>
            </div>
        </div>

        <!-- Tarjeta 2: Integración y Servicios Web -->
        <div class="card">
            <i class="fas fa-globe"></i>
            <h5>Integración y Servicios Web</h5>
            <div class="pra">
                <p>API REST</p>
                <p>WebServices</p>
            </div>
        </div>


        <!-- Tarjeta 3: Gestión y Automatización -->
        <div class="card">
            <i class="fas fa-cogs"></i>
            <h5>Gestión y Automatización</h5>
            <div class="pra">
                <p>Maven</p>
                <p>Liquibase</p>
            </div>
        </div>

        <!-- Tarjeta 4: Infraestructura y Deploy -->
        <div class="card">
            <i class="fas fa-cloud-upload-alt"></i>
            <h5>Infraestructura y Deploy</h5>
            <div class="pra">
                <p>Docker</p>
                <p>Jenkins</p>
                <p>Cloudflare</p>
            </div>
        </div>

        <!-- Tarjeta 5: Control de Versiones y Colaboración -->
        <div class="card">
            <i class="fas fa-code-branch"></i>
            <h5>Control de Versiones y Colaboración</h5>
            <div class="pra">
                <p>Git (GitHub, Bitbucket)</p>
            </div>
        </div>

        <!-- Tarjeta 6: Entornos de Desarrollo -->
        <div class="card">
            <i class="fas fa-laptop-code"></i>
            <h5>Entornos de Desarrollo</h5>
            <div class="pra">
                <p>Visual Studio Code</p>
                <p>Eclipse</p>
                <p>NetBeans</p>
            </div>
        </div>



        <!-- Tarjeta 7: CMS (Sistemas de Gestión de Contenidos) -->
        <div class="card">
            <i class="fas fa-wordpress"></i>
            <h5>CMS (Sistemas de Gestión de Contenidos)</h5>
            <div class="pra">
                <p>WordPress</p>
                <p>Elementor Pro</p>
            </div>
        </div>
    </div>
</div>