.container-skills {
    padding: 2rem 4% 2rem;
}

@media (min-width: 1920px) {
    .container-skills {
        padding: 2rem 12% 2rem;
    }
}

.main-title p {
    color: #333;
}

.container-skills .row {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col {
    flex-basis: 46%;
}

.subject {
    font-size: 1rem;
    font-weight: thin;
    color: #808080;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 1rem;
}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #119DDD;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate {
    100% {
        width: 100%;
    }
}

.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #119DDD;
}

.service {
    background: #F4FAFD;
    width: 100%;
    padding: 20px 0%;
}

.title {
    text-align: center;
}

.service .title h2::before {
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0px auto;
    max-width: 1800px;
    margin-bottom: 200px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.card:hover {
    transform: scale(1.05);
}

@keyframes show {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.card i {
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #119DDD;
}

.card i:hover {
    color: white;
}

.pra p {
    color: #A8A9B4;
    margin-bottom: 25px;
}

/* Ajustes para móviles (pantallas máximo 768px) */
@media (max-width: 768px) {
    .container-skills .row {
        margin-top: 30px;
        flex-direction: column;
    }

    .subject {
        font-size: 1rem;
    }

    .progress-bar::after {
        font-size: 1rem;
    }

    .card {
        margin: 0 auto;
    }

    .row .col:nth-child(2) {
        margin-top: 20px;
    }
}

/* Ajustes para tablets (pantallas entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .row .col {
        margin-bottom: 30px;
    }

    .subject {
        font-size: 1.1rem;
    }

    .progress-bar::after {
        font-size: 1.1rem;
    }

}