<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Habilidades</title>
</head>

<body>
    <div class="container-skills">

        <!-- ********** Main Heading Starts *********** -->

        <div class="main-title">
            <h1>Mis Habilidades</h1>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido
                el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona
                que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró
                hacer un libro de textos especimen.</p>
        </div>

        <!-- ********** Main Heading Ends *************** -->

        <div class="row">

            <!-- ************ Left Section Starts here *************** -->

            <section class="col">

                <div class="sub-title">
                    <h2>Lenguajes de Programación</h2>
                </div>

                <div class="skills-container">
                    <div class="skill">
                        <div class="subject">Java</div>
                        <div class="progress-bar" value="94%">
                            <div class="progress-line" style="max-width: 94%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Php</div>
                        <div class="progress-bar" value="83%">
                            <div class="progress-line" style="max-width: 83%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Html</div>
                        <div class="progress-bar" value="88%">
                            <div class="progress-line" style="max-width: 88%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Css</div>
                        <div class="progress-bar" value="68%">
                            <div class="progress-line" style="max-width: 68%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Javascript</div>
                        <div class="progress-bar" value="68%">
                            <div class="progress-line" style="max-width: 68%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Sql</div>
                        <div class="progress-bar" value="68%">
                            <div class="progress-line" style="max-width: 68%;"></div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- ************ Left Section Ends Here ************* -->

            <!-- ************ Right Section Starts here *************** -->

            <section class="col">

                <div class="sub-title">
                    <h2>Frameworks y librerías</h2>
                </div>

                <div class="skills-container">
                    <div class="skill">
                        <div class="subject">Spring Boot</div>
                        <div class="progress-bar" value="82%">
                            <div class="progress-line" style="max-width: 82%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Spring Data (JPA/Hibernate)</div>
                        <div class="progress-bar" value="74%">
                            <div class="progress-line" style="max-width: 74%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Maven</div>
                        <div class="progress-bar" value="63%">
                            <div class="progress-line" style="max-width: 63%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Liquibase</div>
                        <div class="progress-bar" value="91%">
                            <div class="progress-line" style="max-width: 91%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">Angular</div>
                        <div class="progress-bar" value="91%">
                            <div class="progress-line" style="max-width: 91%;"></div>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="subject">React</div>
                        <div class="progress-bar" value="91%">
                            <div class="progress-line" style="max-width: 91%;"></div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- ************ Right Section Ends here *************** -->
        </div>
    </div>

    <!-- ************ Herramientas, tecnologías y entornos de desarrollo ************ -->
    <div class="service">
        <div class="title">
            <h2>Our Services</h2>
        </div>

        <div class="box">
            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Web development</h5>
                <div class="pra">
                    <p>Every website should be built with two primary goals</p>


                </div>
            </div>

            <div class="card">
                <i class="fas fa-user"></i>
                <h5>Web development</h5>
                <div class="pra">
                    <p>Every website should be built with two primary goals</p>


                </div>
            </div>

            <div class="card">
                <i class="fas fa-bell"></i>
                <h5>Web development</h5>
                <div class="pra">
                    <p>Every website should be built with two primary goals</p>


                </div>
            </div>
        </div>
    </div>
</body>

</html>