<div class="container">
  <!-- Barra lateral con la imagen, redes sociales y enlaces -->
  <nav class="sidebar">
    <!-- Imagen en la parte superior -->
    <div class="profile-picture">
      <img src="https://github.com/apermar87.png" alt="foto" />
    </div>

    <!-- Redes sociales -->
    <div class="social-links">
      <a href="https://www.linkedin.com/in/ajperezmarin" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Apermar87" target="_blank"><i class="fab fa-github"></i></a>
    </div>

    <!-- Enlaces a las secciones -->
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre mí</a></li>
      <li><a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page">Resumen</a></li>
      <li><a routerLink="/skills" routerLinkActive="active" ariaCurrentWhenActive="page"> Habilidades</a></li>
      <li><a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Proyectos</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a></li>
    </ul>
  </nav>

  <!-- Contenido principal gestionado por Angular -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>