.resume-header {
    padding: 2rem 4% 2rem;
}

@media (min-width: 1920px) {
    .resume-header {
        padding: 2rem 12% 2rem;
    }
}

.resume-header p {
    font-size: 1.2rem;
    color: #333;
}

.timeline-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4% 2rem;
}

@media (min-width: 1920px) {
    .timeline-wrapper {
        padding: 2rem 12% 2rem;
    }
}

.timeline-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.i {
    font-size: 1rem;
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: #F4FAFD;
    backdrop-filter: blur(20px);
    border: 3px solid #119DDD;
    border-radius: 1rem;
    font-size: 1.1rem;
    color: #333;
    transition: 0.4s ease;
    cursor: pointer;
}

.content-box:hover {
    box-shadow: 0 0 25px red;
    border: 3px solid red;
}

.timeline-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 3px solid #119DDD;
}

.date {
    font-size: 1.2rem;
    font-weight: bold;
}

.content-box::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: #119DDD;
    border-radius: 50%;
    left: -50px;
    top: 90px;
}

.animate {
    position: absolute;
    top: -1px;
    right: 0;
    width: 104%;
    height: 100%;
    background: white;
    animation: show-right 1s ease forwards;
    animation-delay: calc(.5s * var(--i));
}

h3::before {
    width: 0;
}

h3::after {
    width: 0;
}

@keyframes show-right {
    100% {
        width: 0;
    }
}