<div class="resume">
    <div class="resume-header">
        <h2>Currículum</h2>
        <p>Mi enfoque está en construir soluciones tecnológicas que no solo sean funcionales, sino también fáciles de
            usar y adaptadas a las necesidades del usuario. A lo largo de mi formación y proyectos personales, he
            desarrollado habilidades sólidas tanto en el desarrollo <strong>front-end como back-end.</strong>

        <p>Mi objetivo profesional es continuar creciendo en el campo del desarrollo web, buscando oportunidades para
            afrontar desafíos técnicos mientras colaboro en equipos multidisciplinarios. Me motiva aportar soluciones
            innovadoras que mejoren la experiencia del usuario y ayuden a las organizaciones a avanzar en su
            transformación digital.</p>
    </div>


    <div class="timeline-wrapper">

        <div class="timeline-row">

            <!-- ************ Columna izquierda *************** -->
            <div class="timeline-col">
                <h3 class="heading">
                    <i class="fa-solid fa-graduation-cap"></i>
                    Educación<span class="animate" style="--i:1;"></span>
                </h3>

                <div class="timeline-box">

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2022 - 2024
                        </div>

                        <h4>Medac</h4>

                        <p><strong>Técnico Superior en Desarrollo de Aplicaciones Web.</strong></p>
                        <br>
                        <p>Adquirí una
                            sólida base de conocimientos en el desarrollo de aplicaciones web tanto a nivel
                            <strong>front-end como
                                back-end. </strong> Aprendí a trabajar con lenguajes de programación como <strong>HTML,
                                CSS,
                                JavaScript, Java y
                                PHP, </strong> esenciales para la creación de sitios web interactivos y dinámicos.
                            Además,
                            profundicé en
                            el uso de frameworks modernos como <strong>Angular y React, </strong> que me permitieron
                            mejorar
                            la eficiencia en
                            el desarrollo y optimización de aplicaciones web.
                        </p>

                        <p>A lo largo de mi formación, también estudié el diseño y gestión de <strong>bases de datos,
                            </strong> donde aprendí
                            a trabajar con <strong>SQL </strong> y a integrar bases de datos en aplicaciones web. Este
                            conocimiento me
                            permitió comprender la importancia de la estructura de datos y la gestión eficiente de la
                            información en proyectos reales.</p>


                        <p> Este ciclo formativo también incluyó aspectos relacionados con la <strong>usabilidad,
                                accesibilidad
                                y
                                optimización </strong> del rendimiento de las aplicaciones, temas esenciales para el
                            desarrollo
                            de proyectos
                            completos, funcionales y accesibles para una amplia variedad de usuarios.
                        </p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2013 - 2013
                        </div>

                        <h4>Universidad Sevilla (Escuela Politécnica)</h4>

                        <p><strong>Experto Univ. en Valoración y Tasación de daños en vehículos e incendios y riesgos
                                diversos.</strong></p>
                        <br>
                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
                            Ipsum
                            ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                            (N.
                            del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los
                            mezcló
                            de tal manera que logró hacer un libro de textos especimen.</p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2010 - 2012
                        </div>

                        <h4>IES Juan de Aréjula </h4>

                        <p><strong>Técnico Superior en Automoción.</strong></p>
                        <br>
                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
                            Ipsum
                            ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                            (N.
                            del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los
                            mezcló
                            de tal manera que logró hacer un libro de textos especimen.</p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2008 - 2010
                        </div>

                        <h4>IPEP Córdoba </h4>

                        <p><strong>Bachillerato.</strong></p>
                        <br>
                        <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem
                            Ipsum
                            ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                            (N.
                            del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los
                            mezcló
                            de tal manera que logró hacer un libro de textos especimen.</p>
                    </div>
                    <span class="animate" style="--i:2;"></span>
                </div>
            </div>

            <!-- ************ Columna derecha *************** -->

            <div class="timeline-col">
                <h3 class="heading">
                    <i class="fa-solid fa-briefcase"></i>
                    Experiencia<span class="animate" style="--i:4;"></span>
                </h3>
                <div class="timeline-box">
                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2024 - Actualmente
                        </div>

                        <h4>Proyectos personales</h4>
                        <br>
                        <p><strong>Web Service CRUD Application.</strong></p>
                        <p>• Creación de aplicaciones en <strong>Java </strong> que exponen <strong>APIs RESTful
                            </strong>
                            utilizando
                            <strong>Spring Boot </strong> e integrando
                            <strong>Maven </strong> para la gestión de dependencias y ciclo de vida del proyecto. Las
                            aplicaciones interactúan
                            con una <strong>base de datos MySQL </strong> cuyo esquema es gestionado y versionado
                            mediante
                            <strong>Liquibase. </strong> Para
                            garantizar la portabilidad y consistencia del entorno, he utilizado <strong>Docker </strong>
                            para crear
                            contenedores, incluyendo un contenedor con la base de datos MySQL y otro con la aplicación
                            empaquetada en un archivo <strong>JAR. </strong> Los proyectos están completamente
                            automatizados
                            a través de
                            <strong>Dockerfile, </strong> permitiendo una fácil creación y despliegue de los
                            contenedores.
                            Además, he probado
                            las APIs utilizando <strong>Postman, </strong> asegurando su correcto funcionamiento en
                            distintos escenarios.
                        </p>
                        <br>
                        <p><strong>Portfolio.</strong></p>
                        <p>
                            • Desarrollo de una <strong>aplicación web interactiva</strong> utilizando <strong>HTML,
                                CSS,
                                TypeScript y Angular. </strong>
                            He integrado la <strong> API EmailJS </strong> para gestionar el envío
                            de correos electrónicos desde formularios de contacto. La aplicación está alojada en un
                            <strong>
                                servidor
                                propio, </strong> y he utilizado <strong>Docker </strong> para su contenerización,
                            facilitando su despliegue en diferentes
                            entornos. Además, he configurado un <strong> dominio personalizado </strong> a través de Don
                            Dominio y optimizado
                            el rendimiento con <strong>Cloudflare. </strong>

                            Este proyecto me ha permitido mejorar mis habilidades en desarrollo frontend y la
                            integración de
                            servicios externos, mientras gestionaba el despliegue y la seguridad de la aplicación.
                        </p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2024 - 2024
                        </div>

                        <h4>My Market</h4>

                        <p><strong>Prácticas Técnico Superior Desarrollo de Aplicaciones Web.</strong></p>
                        <br>
                        <p>
                            • Durante mis prácticas, me encargué del mantenimiento y la actualización de diversas
                            páginas
                            web desarrolladas en <strong>WordPress, </strong> utilizando <strong>Elementor Pro </strong>
                            para mejorar y modificar los diseños de las páginas existentes. Realicé ajustes y cambios
                            tanto
                            en el contenido como en el diseño, asegurándome de que las páginas fueran funcionales,
                            visualmente atractivas y fáciles de navegar.</p>

                        <p>
                            • Uno de los proyectos más destacados fue la creación de un <strong>plugin de reservas
                                personalizado. </strong> Este plugin fue desarrollado utilizando <strong>HTML, CSS,
                                JavaScript y PHP, </strong> con el objetivo de ofrecer una solución interactiva para la
                            gestión de reservas en línea. A través de este proyecto, pude aplicar mis conocimientos en
                            la
                            integración de <strong>front-end con back-end, </strong> manejando la creación de
                            formularios,
                            la validación de datos y la interacción con la <strong>base de datos </strong> para
                            almacenar y
                            recuperar la información de las reservas.</p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2014 - 2024
                        </div>

                        <h4>Sp Group</h4>

                        <p><strong>Oficial especialista Huecograbado.</strong></p>
                        <br>
                        <p>Conductor de máquina impresora de Huecograbado. Mantenimiento y ajuste de maquinaria para
                            asegurar una impresión de alta calidad. Supervisión de la producción y resolución de
                            problemas
                            técnicos.</p>
                    </div>

                    <div class="content-box">
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i>
                            2013 - 2014
                        </div>

                        <h4>Gadyvauto</h4>

                        <p><strong>Perito.</strong></p>
                        <br>
                        <p>Peritación, valoración y reconstrucción de siniestros de vehículos automóviles. Evaluación de
                            daños por incendios y otros riesgos diversos. Elaboración de informes periciales detallados
                            y
                            precisos.</p>
                    </div>
                    <span class="animate" style="--i:5;"></span>
                </div>
            </div>
        </div>
    </div>
</div>