<div class="resume-header">
    <h2>Resume</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
</div>

<div class="timeline-wrapper">

    <div class="timeline-row">

        <div class="timeline-col">
            <h3 class="heading">
                <i class="fa-solid fa-graduation-cap"></i>
                Education
            </h3>

            <div class="timeline-box">

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>High Scholl</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>High Scholl</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>High Scholl</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>
            </div>
        </div>

        <div class="timeline-col">
            <h3 class="heading">
                <i class="fa-solid fa-briefcase"></i>
                Experience
            </h3>
            <div class="timeline-box">
                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>X Company</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>Y Company</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2016 - 2020
                    </div>

                    <h4>Z Company</h4>

                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>
            </div>
        </div>
    </div>
</div>