<div class="resume-header">
    <h2>Resumen</h2>
    <p>Soy desarrollador de aplicaciones web recién titulado en el Grado Superior en Desarrollo de Aplicaciones Web. A
        lo largo de mi formación, he adquirido competencias en tecnologías de front-end y back-end, así como en bases de
        datos y gestión de servidores. Aspiro a contribuir en proyectos innovadores en el ámbito del desarrollo web y
        continuar desarrollándome profesionalmente.</p>
</div>

<div class="timeline-wrapper">

    <div class="timeline-row">

        <div class="timeline-col">
            <h3 class="heading">
                <i class="fa-solid fa-graduation-cap"></i>
                Educación<span class= "animate" style="--i:1;"></span>
            </h3>

            <div class="timeline-box">

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2022 - 2024
                    </div>

                    <h4>Medac</h4>

                    <p><strong>Técnico Superior en Desarrollo de Aplicaciones Web.</strong></p>
                    <p>Adquirí habilidades en lenguajes como HTML, CSS, JavaScript, Java, PHP, y en el uso de frameworks
                        como Angular y React.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2013 - 2013
                    </div>

                    <h4>Universidad Sevilla (Escuela Politécnica)</h4>

                    <p><strong>Experto Univ. en Valoración y Tasación de daños en vehículos e incendios y riesgos
                            diversos.</strong></p>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2010 - 2012
                    </div>

                    <h4>IES Juan de Aréjula </h4>

                    <p><strong>Técnico Superior en Automoción.</strong></p>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2008 - 2010
                    </div>

                    <h4>IPEP Córdoba </h4>

                    <p><strong>Bachillerato.</strong></p>
                    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum
                        ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N.
                        del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
                        de tal manera que logró hacer un libro de textos especimen.</p>
                </div>
                <span class= "animate" style="--i:2;"></span>
            </div>
        </div>

        <div class="timeline-col">
            <h3 class="heading">
                <i class="fa-solid fa-briefcase"></i>
                Experiencia<span class= "animate" style="--i:4;"></span>
            </h3>
            <div class="timeline-box">
                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2024 - Actualmente
                    </div>

                    <h4>Proyectos personales</h4>

                    <p><strong>Programador FullStack.</strong></p>
                    <p>Creación de aplicaciones en Java que exponen APIs RESTful utilizando Spring Boot e integrando
                        Maven para la gestión de dependencias y ciclo de vida del proyecto. Las aplicaciones interactúan
                        con una base de datos MySQL cuyo esquema es gestionado y versionado mediante Liquibase. Para
                        garantizar la portabilidad y consistencia del entorno, he utilizado Docker para crear
                        contenedores, incluyendo un contenedor con la base de datos MySQL y otro con la aplicación
                        empaquetada en un archivo JAR. Los proyectos están completamente automatizados a través de
                        Dockerfile, permitiendo una fácil creación y despliegue de los contenedores. Además, he probado
                        las APIs utilizando Postman, asegurando su correcto funcionamiento en distintos escenarios.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2024 - 2024
                    </div>

                    <h4>My Market</h4>

                    <p><strong>Prácticas Técnico Superior Desarrollo de Aplicaciones Web.</strong></p>
                    <p>Desarrollo y mantenimiento de aplicaciones web.
                        Colaboración en la implementación de nuevas funcionalidades y corrección de errores.
                        Mejora de la experiencia del usuario y rendimiento de las aplicaciones.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2014 - 2024
                    </div>

                    <h4>Sp Group</h4>

                    <p><strong>Oficial especialista Huecograbado.</strong></p>
                    <p>Conductor de máquina impresora de Huecograbado. Mantenimiento y ajuste de maquinaria para asegurar una impresión de alta calidad. Supervisión de la producción y resolución de problemas técnicos.</p>
                </div>

                <div class="content-box">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        2013 - 2014
                    </div>

                    <h4>Gadyvauto</h4>

                    <p><strong>Perito.</strong></p>
                    <p>Peritación, valoración y reconstrucción de siniestros de vehículos automóviles. Evaluación de daños por incendios y otros riesgos diversos. Elaboración de informes periciales detallados y precisos.</p>
                </div>
                <span class= "animate" style="--i:5;"></span>
            </div>
        </div>
    </div>
</div>