/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #242223;
  line-height: 1.6;
}

h1 {
  margin: 0px;
  color: #242223;
  font-size: 40px;
  line-height: 1.6;
}

h2 {
  position: relative;
  color: #242223;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 30px;
}

h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  top: calc(125% - 1px);
  background-color: #119DDD;
}

h3 {
  position: relative;
  color: #242223;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 30px;
}

h3::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #808080;
}

h3::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: #119DDD;
}

h4{
    font-size: 18px;
    color: #808080;
    text-transform: uppercase;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}