/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
  color: #242223;
  line-height: 1.6;
}

h1 {
  margin: 0px;
  color: #242223;
  font-size: 2.5rem;
  line-height: 1.6;
}

h2 {
  position: relative;
  color: #242223;
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 30px;
}

h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  top: calc(125% - 1px);
  background-color: #119DDD;
}

h3 {
  position: relative;
  color: #242223;
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 30px;
}

h3::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #808080;
}

h3::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: #119DDD;
}

h4{
    font-size: 1.5rem;
    color: #808080;
    text-transform: uppercase;
}

h5 {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

p {
  font-size: 1.1rem;
}

/* Ajustes para móviles (pantallas máximo 767px) */
@media (max-width: 767px) {
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4{
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
}
}

/* Ajustes para tablets (pantallas entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.1rem;
  }
}