<div class="contenedor">
    <div class="contenedor_texto">
        <h1>Hola, soy Antonio Pérez</h1>
        <div class="subtitulo">
            <h1>Desarrollador</h1>
            <div class="contenedor_texto_animacion" #texto></div>
            <div class="barra_escritura"></div>
        </div>
        <p>Desarrollador web orientado a la creación de aplicaciones eficientes y escalables. Apasionado por las tecnologías, busco contribuir a proyectos innovadores y mejorar la experiencia del usuario.</p>
        <!-- Botón que lleva a la página About -->
        <button class="btn-ir-about" (click)="goToAbout()">Ir a sobre mí</button>
    </div>
</div>