.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 12% 2rem;
}

.contenedor_texto {
    text-align: center;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.subtitulo h1 {
white-space: normal;
word-break: break-word;
}

.contenedor_texto_animacion {
    display: flex;
    margin-left: 15px;
    color: red;
    font-size: 40px;
    line-height: 1.6;
    font-weight: bold;
}

.barra_escritura {
    width: 3px;
    height: 50px;
    margin-left: 5px;
    background-color: #119DDD;
    transform: rotateZ(10deg);
    animation: barra-animacion 1s ease infinite;
}

p {
    margin: 30px auto;
    max-width: 1200px;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

.btn-ir-about {
    background-color: #119DDD;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    line-height: 1.6;
    font-size: 18px;
}

.btn-ir-about:hover {
    background-color: transparent;
    transform: scale(1.10);
    border: 2px solid #007bff;
    cursor: pointer;
    color: #181818;
}

.btn-ir-about:active {
    background-color: #004080;
    transform: scale(0.98);
}


@keyframes barra-animacion {
    50% {
        height: 20px;
    }
}

.imagen-bajo-boton {
    margin: 20px auto 0; 
    max-width: 25%;
    height: auto;
    display: block; 
}

@media (max-width: 768px) {
    .contenedor {
        padding: 2rem 5%;
    }

    .contenedor_texto {
        text-align: center;
    }

    .imagen-bajo-boton {
        max-width: 50%; 
    }

    .btn-ir-about {
        font-size: 16px; 
        padding: 10px 25px; 
    }
}

@media (max-width: 480px) {
    .contenedor {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .contenedor_texto {
        margin-top: 2rem;
    }

    .imagen-bajo-boton {
        max-width: 80%; 
    }

    .btn-ir-about {
        font-size: 14px; 
        padding: 8px 20px; 
    }
}
