<div class="contenedor">
    <div class="contenedor_texto">
        <p class="bienvenidos">Bienvenidos</p>
        <div class="subtitulo">
            <h1>Soy <span>Antonio Pérez</span>, Desarrollador</h1>
            <div class="contenedor_texto_animacion" #texto></div>
            <div class="barra_escritura"></div>
        </div>
        <p>Desarrollador web orientado a la creación de aplicaciones eficientes y escalables. Apasionado por las
            tecnologías, busco contribuir a proyectos innovadores y mejorar la experiencia del usuario.</p>
        <button class="btn-ir-about" (click)="goToAbout()">Ir a sobre mí</button>
    </div>
</div>